@import "~bootstrap/dist/css/bootstrap.min.css";

.container-header {
    background-color: transparent;
    margin-bottom: 20px;
}

.redes {
    color: gray;
}

.starwars-logo {
    margin-left: 90px;
}

#btn-log {
    background-color: black;
    color: rgb(65, 63, 63);
    border: 1px solid rgb(65, 63, 63);
    border-radius: 0px;
    margin-left: 252px;
}
#btn-log:hover {
    background-color: rgb(65, 63, 63);
    color: black;
    border: 1px solid black;
}

#btn-sign {
    background-color: black;
    color: rgb(65, 63, 63);
    border: 1px solid rgb(65, 63, 63);
    border-radius: 0px;
    margin-left: 5px;
}
#btn-sign:hover {
    background-color: rgb(65, 63, 63);
    color: black;
    border: 1px solid black;
}

#btn-log-out {
    background-color: black;
    color: rgb(65, 63, 63);
    border: 1px solid rgb(65, 63, 63);
    border-radius: 0px;
    margin-left: 335px;
}
#btn-log-out:hover {
    background-color: rgb(65, 63, 63);
    color: black;
    border: 1px solid black;
}

.container-datos {
    color: gray;
    margin-top: 15px;
}

.p-usuario {
    margin-left: 225px;
}


