@import "~bootstrap/dist/css/bootstrap.min.css";

.container-header {
    margin-bottom: 20px;
}

.row-header {
    display: flex;
    width: 100%;
}

.redes {
    color: gray;
}

.logo {
    text-align: center;
}

.starwars-logo {
    background-color: transparent;
}

.log-sign {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

#btn-log-in {
    background-color: black;
    color: rgb(65, 63, 63);
    border: 1px solid rgb(65, 63, 63);
    border-radius: 0px;
    width: max-content;
    height: max-content;
}
#btn-log-in:hover {
    background-color: rgb(65, 63, 63);
    color: black;
    border: 1px solid black;
}

#btn-sign-up {
    background-color: black;
    color: rgb(65, 63, 63);
    border: 1px solid rgb(65, 63, 63);
    border-radius: 0px;
    margin-left: 5px;
    width: max-content;
    height: max-content;
}
#btn-sign-up:hover {
    background-color: rgb(65, 63, 63);
    color: black;
    border: 1px solid black;
}

#btn-log-out {
    background-color: black;
    color: rgb(65, 63, 63);
    border: 1px solid rgb(65, 63, 63);
    border-radius: 0px;
    height: max-content;
    align-items: flex-end;
}
#btn-log-out:hover {
    background-color: rgb(65, 63, 63);
    color: black;
    border: 1px solid black;
}


@media (max-width: 767.98px) { 

    .log-sign {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
    }

    #btn-log-in {
        background-color: black;
        color: rgb(65, 63, 63);
        border: 1px solid rgb(65, 63, 63);
        border-radius: 0px;
        width: 86px;
        height: max-content;
        margin-bottom: 5px;
    }

    #btn-sign-up {
        background-color: black;
        color: rgb(65, 63, 63);
        border: 1px solid rgb(65, 63, 63);
        border-radius: 0px;
        width: max-content;
        height: max-content;
    }

}




