@import "~bootstrap/dist/css/bootstrap.min.css";


.container-form-sign {
    border: 1px solid gray;
    width: min-content;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    font-family: "Anta"; /* de google fonts*/
}

.container-form-sign h2 {
    color: gray;
}

.input-email-sign {
    background-color: rgb(65, 63, 63);
    color: gray;
    border: 1px solid black;
    margin-bottom: 5px;
}

.input-password-sign {
    background-color: rgb(65, 63, 63);
    color: gray;
    border: 1px solid black;
}

#btn-in-sign {
    background-color: black;
    color: rgb(65, 63, 63);
    border: 1px solid rgb(65, 63, 63);
    border-radius: 0px;
    margin-top: 9px;
}
#btn-in-sign:hover {
    background-color: rgb(65, 63, 63);
    color: rgb(155, 155, 155);
    border: 1px solid black;
}

#btn-home-register {
    background-color: black;
    color: rgb(65, 63, 63);
    border: 1px solid rgb(65, 63, 63);
    border-radius: 0px;
    margin-left: 10px;
    margin-top: 10px;
}
#btn-home-register:hover {
    background-color: rgb(65, 63, 63);
    color: black;
    border: 1px solid black;
}

.error-message {
    color: red;
}

@media (max-width: 768px) {

    .container-form-sign {
        margin-top: 100px;
    }

}