@import "~bootstrap/dist/css/bootstrap.min.css";


body {
    background-color: black;
}

.container-ships {
    background-color: rgb(31, 30, 30);
    color: gray;
    margin: auto;
    margin-bottom: 25px;
    padding: 15px 15px 1px 15px;
    border-radius: 0px;
    width: 900px;
    font-family: "Anta"; /* de google fonts*/
}
.container-ships:hover {
    background-color: black;
    color: rgb(65, 63, 63);
    border: 1px solid rgb(65, 63, 63);
}

.ship-link {
    text-decoration: none; /* Esto quita el subrayado del texto */
    color: inherit; /* Esto mantiene el color predeterminado del texto */
}

#btn-view-more {
    background-color: black;
    color: rgb(65, 63, 63);
    border: 1px solid rgb(65, 63, 63);
    margin-right: 4px;
    margin-left: 575px;
    border-radius: 0px;
}
#btn-view-more:hover {
    background-color: rgb(65, 63, 63);
    color: black;
    border: 1px solid black;
}