@import "~bootstrap/dist/css/bootstrap.min.css";


.container-shipDetails {
    background-color: black;
    height: 607px;
}

.card {
    background-color: rgb(65, 63, 63);
    color: rgb(161, 160, 160);
    font-family: "Anta"; /* de google fonts*/
    border-radius: 0px;
}

.btn {
    background-color:  rgb(65, 63, 63);
    color: rgb(161, 160, 160);
    font-family: "Anta"; /* de google fonts*/
}



