@import "~bootstrap/dist/css/bootstrap.min.css";


.container-shipDetails {
    background-color: black;
    height: 607px;
}

.card {
    background-color: rgb(65, 63, 63);
    color: black;
    font-family: "Anta"; /* de google fonts*/
    border-radius: 0px;
}

.container-shipDetails h6 {
    margin-bottom: 5px;
    border-top: 1px solid rgb(65, 63, 63);
    border-bottom: 1px solid rgb(65, 63, 63);
    border-left: 0px;
    border-right: 0px;
    color: rgb(107, 107, 107);
    font-family: "Anta"; /* de google fonts*/
}





