@import "~bootstrap/dist/css/bootstrap.min.css";


.container-shipList {
    background-color: black;
    margin: auto;
    padding: 25px;
}

.container-ships {
    background-color: rgb(31, 30, 30);
    color: gray;
    margin: auto;
    margin-bottom: 25px;
    padding: 15px 15px 1px 15px;
    border-radius: 5px;
    width: 900px;
    font-family: "Anta"; /* de google fonts*/
}

.ship-link {
    text-decoration: none; /* Esto quita el subrayado del texto */
    color: inherit; /* Esto mantiene el color predeterminado del texto */
  }